.formContainer {
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.formTitle {
    color: #00308F;
    font-size: calc(2.5rem - 2pt);
}

.titleLine {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    border-bottom: 1px solid #00308F;
    margin-bottom: 4%;
}

.authForm {
    text-align: center;
    justify-content: center;
    color: #0441d5;
    font-size: calc(1.7rem - 6pt);
}

.authForm input {
    height: calc(35pt - 20px);
    color: #0441d5;
    border: 0;
    outline: 0;
    width: calc(30% + 30px);
    border-bottom: 1px solid #0441d5;
    margin-bottom: 2%;
    margin-top: 1%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.authForm input:focus {
    width: calc(34% + 40px);
    border-bottom: 1px solid #0441d5;
}

.underFormInfo {
    font-size: 1rem
}

.underFormInfo:hover {
    color: rgba(0, 212, 255, 1);
}

.authButton {
    background: rgb(189, 255, 243, 0.0);
    padding: 5px 12px;
    font-size: 1.5rem;
    margin-bottom: 5pt;
    border: #00308F solid 2px;
    color: #00308F;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.authButton:hover {
    background: rgb(189, 255, 243, 0.1);
    padding: 6px 16px;
    font-size: 1.5rem;
}

#selectCategory,
#selectCategoryEdit {
    display: inline-block;
    text-align: center;
    justify-content: center;
    border: 0;
    outline: 0;
    width: calc(22% + 20px);
    border-bottom: 1px solid #0441d5;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    margin-bottom: 20px;
}

#addCategoryButtonContainer,
#addCategoryButtonContainerEdit {
    display: inline-block;
    font-size: 1.3rem;
}

#addCategoryButtonContainer:hover #addCategoryButton,
#addCategoryButtonContainerEdit:hover #addCategoryButtonEdit {
    display: inline-block !important;
}

#addCategoryContainer,
#addCategoryContainerEdit {
    width: 30%;
    border: #0441d5 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    z-index: 1000;
    background: rgb(189, 255, 243, 0.1);
    margin: 0 auto;
    margin-top: 20px;
}

#addCategoryContainer label,
#addCategoryContainerEdit label {
    display: block;
}

#addCategoryContainer button,
#addCategoryContainerEdit button {
    border: #0441d5 solid 1px;
    border-radius: 5px;
    padding: 4px 8px;
    color: #00308F;
    background: rgb(189, 255, 243, 0.0);
    cursor: pointer;
}