.a-Header:link {
    text-decoration: none;
    color: gray;
}

.a-Header {
    margin-top: 200px;
    margin-left: 5px;
}

.a-Header:visited {
    color: #202020;
    text-decoration: none;
}

#nav-Right {
    margin-right: 10%;
}

.a-Auth {
    float: right;
    font-size: 20px;
    text-decoration: none;
    padding-right: 15px;
    color: #202020;
    margin-top: 20px;
}

.a-Header {
    font-size: 20px;
    font-family: "roboto";
    color: #202020;
    margin-top: 20px;
}

.a-Header:hover {
    color: #096ba8;
}

.a-Auth:hover {
    color: #096ba8;
}

#header {
    position: relative;
    background: linear-gradient(to bottom, #ffffff 50%, #096ba8 100%);
    color: #202020;
    text-align: center;
    overflow: hidden;
}

#header #kosmos-logo {
    width: 260px;
    float: left;
    margin-top: -55px;
    margin-left: 50px;
}

#header h1,
#headerNotHome h1 {
    text-align: center;
    margin-left: 35%;
    font-size: 40px;
    color: #DCDCDD;
    font-family: 'Roboto-bold';
}

header nav li {
    display: inline;
    margin-left: 3%;
}

@media only screen and (max-width: 590px) {
    .a-Auth {
        float: right;
        font-size: 10px;
        text-decoration: none;
        color: gray;
        padding-right: 15px;
    }
    #header {
        position: relative;
        background: linear-gradient(to bottom, #ffffff 50%, #096ba8 100%);
        color: #202020;
        text-align: center;
        overflow: hidden;
    }
    #header #kosmos-logo {
        width: 200px;
        float: left;
        margin-top: -55px;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: -10%;
    }
    #header h1,
    #headerNotHome h1 {
        text-align: center;
        margin-left: 35%;
        font-size: 40px;
        color: #DCDCDD;
        font-family: 'Roboto-bold';
    }
    header nav li {
        display: inline;
        margin-left: 3%;
    }
    #header #botton-Nav:hover {
        background-color: #FFDF6C;
        border-color: #202020;
        color: #202020;
        cursor: pointer;
    }
    #header h1,
    #headerNotHome h1 {
        text-align: center;
        margin-left: 35%;
        font-size: 27px;
        color: #DCDCDD;
        font-family: 'Roboto-bold';
    }
    header nav li {
        display: inline;
        margin-left: 0%;
    }
    .menu-Left {
        display: table-caption;
        font-size: 14px;
        margin-top: -15px;
        margin-bottom: -16px;
    }
    .nav-Right .a-Auth li {
        font-size: 13px;
    }
}