{{> header}}
<div id="cartContainer">
  <h1 class="formTitle">Количка</h1>
  <div class="titleLine"></div>

  <div id="cartProductsContainer">
    <table>
      <tbody>
        <tr>
          <td>
            <img
              src="https://cdn11.bigcommerce.com/s-9p889rxpkb/images/stencil/100x100/products/398/1259/DQ_All_Day_Serum_Front__51201.1617151767.jpg?c=2"
              class="rowImage">
          </td>
          <td>
            <div class="textInfo">

              <h4>
                <a>Drench &amp; Quench Serum</a>
              </h4>
              <p class="short-description">All-Day Moisture Serum</p>
            </div>
          </td>


          <td class="rightTableContainer quantityContainer">

            <button>-</button>
            <input class="quantityInput">
            <button>+</button>

          </td>

          <td class="rightTableContainer productPrice">
            <span>27.00лв</span>

          </td>

          <td class="rightTableContainer removeFromList">
            <a>
              X
            </a>
          </td>

        </tr>
        <tr>
          <td>
            <img
              src="https://cdn11.bigcommerce.com/s-9p889rxpkb/images/stencil/100x100/products/398/1259/DQ_All_Day_Serum_Front__51201.1617151767.jpg?c=2"
              class="rowImage">
          </td>
          <td>
            <div class="textInfo">

              <h4>
                <a>Drench &amp; Quench Serum</a>
              </h4>
              <p class="short-description">All-Day Moisture Serum</p>
            </div>
          </td>


          <td class="rightTableContainer quantityContainer">

            <button>-</button>
            <input class="quantityInput">
            <button>+</button>

          </td>

          <td class="rightTableContainer productPrice">
            <span>27.00лв</span>

          </td>

          <td class="rightTableContainer removeFromList">
            <a>
              X
            </a>
          </td>

        </tr>
        <tr>
          <td>
            <img
              src="https://cdn11.bigcommerce.com/s-9p889rxpkb/images/stencil/100x100/products/398/1259/DQ_All_Day_Serum_Front__51201.1617151767.jpg?c=2"
              class="rowImage">
          </td>
          <td>
            <div class="textInfo">

              <h4>
                <a>Drench &amp; Quench Serum</a>
              </h4>
              <p class="short-description">All-Day Moisture Serum</p>
            </div>
          </td>


          <td class="rightTableContainer quantityContainer">

            <button>-</button>
            <input class="quantityInput">
            <button>+</button>

          </td>

          <td class="rightTableContainer productPrice">
            <span>27.00лв</span>

          </td>

          <td class="rightTableContainer removeFromList">
            <a>
              X
            </a>
          </td>

        </tr>
      </tbody>
    </table>

  </div>

  <div id="cartInfo">
    <div>
      <ul>
        <li>Междинна сума:</li>
        <li>Доставка: <a href="">добави</a></li>
        <br>
        <li>Общо:</li>
      </ul>
    </div>
  </div>
</div>

{{> footer}}