
{{> header}}


<div class="formContainer">
  <h1 class="formTitle">Създай продукт</h1>
  <div class="titleLine"></div>

  <form class="authForm" id="createForm" onsubmit="createForm(event)">

    <div>
      <label for="name"><b>Име на продукт</b></label>
      <br>
      <input type="text" id="name"
        name="name" required>
      <br>
      <label for="brand"><b>Марка</b></label>
      <br>
      <input type="text" id="brand"
        name="brand" required>
      <br>
      <label for="type"><b>Категория</b></label>
      <br>
      <div>
        <input placeholder="търси категория">
        <button class="authButton" style="font-size: 10pt;"
          onclick="showCategorieNames(event,'category')">Търси</button>
      </div>
      <br>
      <select id="selectCategory">
        <option value="non">--категория--</option>
        {{#each categories}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
      </select>
      <br>
      <label for="type"><b>Подкатегория</b></label>
      <br>
      <div>
        <input placeholder="търси подкатегория">
        <button class="authButton" style="font-size: 10pt;"
          onclick="showCategorieNames(event,'subcategory')">Търси</button>
      </div>
      <br>
      <select id="selectSubcategory">
        <option value="">--подкатегория--</option>
        {{#each categories}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
      </select>

      <br>
      <label for="price"><b>Цена</b></label>
      <br>
      <input type="double" id="price" name="price">
      <br>
      <label for="quantity"><b>Количество</b></label>
      <br>
      <input type="double" id="quantity" name="quantity">
      <br>
      <label for="description"><b>Описание</b></label>
      <br>
      <input type="text" id="description" name="description">
      <br>
      <label for="imgUrl"><b>Линк към снимка на продъкта</b></label>
      <br>
      <input type="url" id="imgUrl" placeholder="https://примеренАдрес.jpg"
        name="imgUrl" required>
      <br>
      <br>
    </div>
    <div>
      <button class="authButton" type="submit">Създай</button>
    </div>
  </form>

</div>

{{> footer}}