{{> header}}
<div id="detailsWrapper" onload="window.scrollTo(0, 350);">
    <div id="detailsContant">
        <div id="imgContainer">
                <img id="detailsImage"
                    src="https://yosial.com/wp-content/uploads/2020/05/preparat-za-toaletna-domestos-white-750-ml.png"
                    alt="">
        </div>
                <div id="detailsInfo">
<h1>Препарат</h1>
<div id="line"></div>
<h2>Цена: 10лв</h2>
<span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione nihil quos maxime aliquid sint odio reprehenderit numquam distinctio possimus nam, voluptatibus id non vel minima ipsum porro repellat veritatis maiores!</span>
<div>
<button class="buyButton">Купи</button>
</div>
                </div>

            

        </div>
    </div>

</div>
{{> footer}}