{{> header}}
<div id="detailsWrapper" onload="window.scrollTo(0, 350);">
    <div id="detailsContant">
        <div id="imgContainer">
                <img id="detailsImage"
                    src="{{image}}"
                    alt="">
        </div>
                <div id="detailsInfo">
<h1>{{title}}</h1>
<div id="line"></div>
<h2>Цена: {{price}}лв</h2>
<p>{{description}}</p>
<div>
<button class="buyButton">Купи</button>
</div>
                </div>

            

        </div>
    </div>

</div>
{{> footer}}