<div id="homeContainer">

    <div id='wrapper' class="wrapper">
        <img src="../images/logo1.png" alt="">
        <div class="bubble small"></div>
        <div class="bubble s-medium"></div>
        <div class="bubble medium"></div>
        <div class="bubble large"></div>
        <div class="bubble small-l"></div>
        <div>
            <button onClick="navigateHandler(event)">
                <a href="/kosmosShop">
                    <span>
                        Към магазина
                    </span>
                    <span class="arrow">»</span>
                </a>
            </button>
        </div>
    </div>
</div>