.category .categoryLine {
    width: 27px;
    height: 4px;
    background-color: #00308F;
    margin: 5px 0;
    color: #00308F;
}

.category {
    float: left;
    margin-left: 5%;
    border: 1px solid #00308F;
    border-radius: 100%;
    padding: 5px 10px;
    background: rgb(15, 90, 237, 0.1);
    transition: 0.4s;
    cursor: pointer;
    position: absolute;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    z-index: 1000;
}

.change .category {
    border-radius: 50px;
    padding: 2px 15px;
}

#categoryDropDown {
    margin-top: 10px;
    margin-left: calc(30px - 1pt);
    color: #00308F;
    z-index: 100;
}

#categoryDropDown a {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-size: 19px;
}

.underCategoryLine {
    content: "";
    display: block;
    margin: 0 auto;
    width: 80%;
    border-bottom: 1px solid #00308F;
    margin-bottom: 0px;
    transition: 0.5s;
}


/* #categoryDropDown a:hover {
    text-decoration: underline;
} */

#categoryTable {
    text-align: left;
    justify-content: left;
}

#categoryTable table {
    text-align: left;
    justify-content: left;
    display: inline-flex;
    max-height: 300px;
    overflow-y: auto;
    margin-left: 10%;
    border: 2px solid #0fbeed;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 20px;
}

#categoryTable table tr :hover #categoryTable table tr {
    background-color: #0fbeed;
}

#categoryTable table::-webkit-scrollbar {
    width: 25px;
}


/* Track */

#categoryTable table::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
}


/* Handle */

#categoryTable table::-webkit-scrollbar-thumb {
    background: #0fbeed;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
}


/* Handle on hover */

#categoryTable table::-webkit-scrollbar-thumb:hover {
    background: #5fbeea;
}

#categoryTable .search {
    margin: 0px;
    margin-left: 9%;
    margin-bottom: 40px;
}

#addCategoryContainer {
    display: inline-block;
    text-align: center;
    margin-left: 5%;
    color: #0fbeed;
}

#addCategoryContainer input {
    height: calc(35pt - 20px);
    color: #0441d5;
    border: 0;
    outline: 0;
    width: calc(60% + 30px);
    border-bottom: 1px solid #0fbeed;
    margin-bottom: 2%;
    margin-top: 1%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

#addCategoryContainer button {
    border: #0441d5 solid 1px;
    border-radius: 5px;
    padding: 4px 8px;
    color: #00308F;
    background: rgb(189, 255, 243, 0.0);
    cursor: pointer;
}

@media (max-width: 1097px) {
    #categoryTable table {
        text-align: center;
    }
    #categoryTable {
        width: 90%;
        text-align: center;
    }
    #categoryTable .search {
        justify-content: center;
        text-align: center;
        margin-right: 0px;
        margin-left: calc(35% + 3px);
    }
    #addCategoryContainer {
        margin-left: 20%;
        margin-right: 10%;
    }
    #addCategoryContainer h1 {
        font-size: 20pt;
    }
    #addCategoryContainer button {
        font-size: 20pt;
    }
    #addCategoryContainer input {
        font-size: 20pt;
    }
}